<a href="https://colab.research.google.com/github/christitensor/homeworkFIN5330/blob/master/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd

rawData = pd.read_csv("https://raw.githubusercontent.com/broughtj/Fin5330/master/Assignments/stock-data-hwk1.csv ")

rawData.head()

   PERMNO      date TICKER      PRC    vwretd    ewretd
0   18542  19990104    CAT  47.3750 -0.000822  0.011409
1   18542  19990105    CAT  47.2500  0.011879  0.009512
2   18542  19990106    CAT  48.5000  0.021143  0.014866
3   18542  19990107    CAT  48.9375 -0.000798  0.003560
4   18542  19990108    CAT  51.0000  0.004602  0.009410

In [0]:
tickers = ['AXP', 'CAT', 'SBUX']

ind = rawData.TICKER == tickers[0]
axpData = rawData[ind]

ind = rawData.TICKER == tickers[1]
catData = rawData[ind]

ind = rawData.TICKER == tickers[2]
sbuxdata = rawData[ind]

In [0]:
dfSBUX = pd.DataFrame( data=sbuxdata )