<a href="https://colab.research.google.com/github/christitensor/homeworkFIN5330/blob/master/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import pandas as pd

rawData = pd.read_csv("https://raw.githubusercontent.com/broughtj/Fin5330/master/Assignments/stock-data-hwk1.csv ")

rawData.head()

   PERMNO      date TICKER      PRC    vwretd    ewretd
0   18542  19990104    CAT  47.3750 -0.000822  0.011409
1   18542  19990105    CAT  47.2500  0.011879  0.009512
2   18542  19990106    CAT  48.5000  0.021143  0.014866
3   18542  19990107    CAT  48.9375 -0.000798  0.003560
4   18542  19990108    CAT  51.0000  0.004602  0.009410

In [0]:
tickers = ['AXP', 'CAT', 'SBUX']

ind = rawData.TICKER == tickers[0]
axpData = rawData[ind]

ind = rawData.TICKER == tickers[1]
catData = rawData[ind]

ind = rawData.TICKER == tickers[2]
sbuxData = rawData[ind]

In [0]:
dfSBUX = pd.DataFrame( data=sbuxData )

In [0]:
dfAXP = pd.DataFrame( data=axpData)
dfCAT = pd.DataFrame( data=catData)

In [0]:
AXPdaily_return = dfAXP.PRC.pct_change(1)
CATdaily_return = dfCAT.PRC.pct_change(1)
SBUXdaily_return = dfSBUX.PRC.pct_change(1)

In [0]:
AXPdaily_returnper = (AXPdaily_return * 100).astype(str) + '%'
CATdaily_returnper = (CATdaily_return * 100).astype(str) + '%'
SBUXdaily_returnper = (SBUXdaily_return * 100).astype(str)+ '%'

In [45]:
AXPdaily_returnper.head()

2515                   nan%
2516    -1.908866995073888%
2517     4.080351537978655%
2518    1.2062726176115701%
2519    3.0393325387365833%
Name: PRC, dtype: object

In [0]:
dfAXPreturn = pd.DataFrame(AXPdaily_return)
dfCATreturn = pd.DataFrame(CATdaily_return)
dfSBUXreturn = pd.DataFrame(SBUXdaily_return)

In [48]:
dfAXPreturn.describe()

               PRC
count  2514.000000
mean     -0.000211
std       0.027824
min      -0.654752
25%      -0.011193
50%      -0.000220
75%       0.010873
max       0.179266

In [52]:
dfCATreturn.describe()

               PRC
count  2514.000000
mean      0.000285
std       0.023802
min      -0.489183
25%      -0.011609
50%       0.000336
75%       0.012025
max       0.147229

In [53]:
dfSBUXreturn.describe()

               PRC
count  2514.000000
mean     -0.000123
std       0.031521
min      -0.493001
25%      -0.012515
50%      -0.000536
75%       0.012391
max       0.146354